$xsm-bp: 576px;
$android-theme-color: #355550;

.container {
  height: 100vh;
  display: flex;
  grid-template-columns: 2fr 5fr;

  .profile {
    flex: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .profile-header {
      background-color: #ededed;
      height: 60px;
      box-sizing: border-box;
      flex: none;
      display: flex;
      align-items: center;
      padding: 0 15px;
      display: flex;

      .profile-avatar-container {
        flex-grow: 1;
      }

      .logout-button {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }

    .find-user-form {
      background-color: #f6f6f6;
      padding: 8px;
      display: flex;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;

      .find-user-input {
        flex-grow: 1;
      }

      .submit-find-user {
        background-color: transparent;
      }
    }

    .chat-room-thumb-container {
      flex-direction: column;
      background-color: white;
      border-right: 1px solid #e6e6e6;
      overflow-y: scroll;
      flex-grow: 1;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .main {
    flex: 70%;
    display: flex;
    flex-direction: column;

    .main-header {
      height: 60px;
      background-color: #ededed;
      border-left: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      box-sizing: border-box;
      display: flex;
      padding: 0 12px;

      .room-back-button {
        display: none;
      }

      .chat-room-profile-container {
        display: flex;
        align-items: center;
      }

      .chat-room-details-container {
        display: flex;
        align-items: center;
        padding: 0 10px;

        .room-details-name {
          font-weight: 400;
        }
      }
    }

    .room {
      flex-grow: 1;
      background-image: url("../../statics/main-bg.png");
      padding: 15px 80px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .message-controll {
    background-color: #ededed;
    padding: 10px 20px;

    .message-form {
      display: flex;
      align-items: center;

      .message-input {
        height: 45px;
        flex-grow: 1;
      }

      .message-send-button,
      .message-widget {
        display: flex;
        align-items: center;
      }

      .message-send-button {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $xsm-bp) {

  .container {

    .profile.profile-focus {
      flex: 100%;
      display: flex;
    }

    .main.main-focus {
      flex: 100%;
      display: flex;
    }

    .profile {
      display: none;

      .profile-header {}

      .chat-room-thumb-container {

        .room-focus {
          background-color: white;

        }
      }

      .find-user-form {

        border: none;

      }
    }

    .main {
      display: none;

      .main-header {

        .room-back-button {
          display: inline-block;
        }
      }

      .room {
        padding: 10px 20px;

      }

      .message-controll {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}